/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/03/2022, 04:30:00 PM
    Author     : Oscar
*/
.RegistroContent{
    color: silver;
    margin: auto;
    width: 100% !important;
}

body {
    background-image: linear-gradient(135deg, black 15%, midnightblue 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 1px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%
}

* {
    box-sizing: border-box;
    transition: .25s all ease;
}

.centrarRegistro{
    width: 50% !important;
    margin: auto;
    margin-top: 3rem;
    height: 100%!important;
    display: block;
    position: relative;
    z-index: 0;
    padding: 0rem 4rem 0rem 4rem;
    width: 100%;
    max-width: 1000px;
    min-height: 860px;
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}
.espacioRegistro{
    

}
.botones{
    background-color: rgb(13, 45, 109)!important;
    color: white !important;
    border-radius: 3%  !important;
    border: none !important;
}
.botones a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none !important;
}
.botones:hover{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    font-size: 1.5rem;
    color: whitesmoke !important;
}
.botones a:hover{
    color: whitesmoke !important;
}

.calendar *{
    padding: 0 !important;
    width: 100% !important;
    text-align: center;
}

