/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2022, 10:36:19 AM
    Author     : erick
*/


.datagrid table { border-collapse: collapse; text-align: center; width: 100%; } 
.datagrid {overflow: auto;margin: 0 auto; width: 100%; font: normal 12px/150% Arial, Helvetica, sans-serif; background: #85929E; overflow: hidden; border: 0px solid #85929E; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; color: silver}
.datagrid table thead th {background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);font-size: 15px; font-weight: bold; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { padding-top: 10px; color: white; border-left: 0px solid #E1EEF4;font-size: 1rem;font-weight: normal; }
.datagrid table tbody .alt td { background: #85929E; color: #85929E; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }

.fechaSol{    
    border: none !important;  
    padding: 0 !important;
    width: 100% !important;
    text-align: center;
}

.fechaSol input{
    background-color: rgba(0,0,0,0) !important;
    border: 2px solid transparent;    
    border-radius: 1rem;
    color: white;
    text-align: center;
    width: 100% !important
}

.fechaSol input:hover,
.fechaSol input:focus{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    
}

select option{
    color: black !important;
}

.tablaInterna{
    padding: 0 !important;
}